* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial;
    font-weight: 600;
}
body{
    background: #fff;
    color: #000;
    direction: ltr;
}

.icons span {
    margin-right: 20px;
    cursor: pointer;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 40px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top:0;
    z-index:9999;
    background:#fff;
}

.logo{
    height:45px;
}

/* Search */
.search-box{
    display:flex;
    width:45%;
}

.search-box input{
    flex:1;
    padding:8px;
    border:1px solid #ebebeb;
}

.search-box button{
    background:#c4161c;
    color:white;
    border:none;
    padding:8px 18px;
}

/* Icons */
.icons i{
    font-size:20px;
    margin-right:18px;
    cursor:pointer;
    color:black;
}

/* Menu */
.menu{
    display:flex;
    justify-content:center;
    gap:18px;
    padding:10px 0;
    list-style:none;
}

.menu li{
    cursor:pointer;
}
.menu a{
    text-decoration: none;
    color: #000;     
    font-weight: 600;
}

.menu a:hover{
    color: #b11218;  
}



.menu .active a,
.menu li:hover{
    color:#c4161c;
}

.cart-container{
    display:flex;
    gap:30px;
    padding:50px;
}

.cart-table{
    width:70%;
}

.cart-table table{
    width:100%;
    border-collapse:collapse;
}

.cart-table th, .cart-table td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

.cart-table img{
    width:85px;
    height:85px;
    object-fit:cover;
}

.qty-box{
    width:45px;
    text-align:center;
}

.remove-btn{
    color:red;
    cursor:pointer;
    font-size:18px;
}

.summary{
    width:28%;
    border:1px solid #ddd;
    padding:20px;
}

.summary h3{
    text-align:center;
}

.summary-total{
    font-size:18px;
    font-weight:bold;
    margin:10px 0;
}

.checkout-btn{
    width:100%;
    padding:12px;
    background:#b21717;
    color:#fff;
    border:none;
    cursor:pointer;
}