body{
    background:#fff;
    font-family:Tajawal, Arial;
    font-size: 16px;
}

.back{
    position:absolute;
    top:25px;
    right:40px;
    font-size:22px;
    text-decoration:none;
    color:#000;
}

.login-container{
    width:400px;
    margin:120px auto;
    text-align:center;
}

.logo{
    width:180px;
    margin-bottom:40px;
}

label{
    display:block;
    text-align:right;
    margin:10px 0 5px;
    font-size: 18px;
}

.input-box{
    position:relative;
    border-bottom:2px solid #aaa;
    margin-bottom:25px;
    font-size: 18px;
}

.input-box input{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    text-align:right;
}

.prefix{
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    color:#666;
}

.input-box i{
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

.login-btn{
    width:100%;
    padding:12px;
    border:none;
    background:#b30000;
    color:#fff;
    font-size:18px;
    cursor:pointer;
}
