* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial;
    font-weight: 600;
}
body{
    background: #fff;
    color: #000;
}

.icons span {
    margin-left: 20px;
    cursor: pointer;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 40px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);

    position: sticky;
    top:0;
    z-index:9999;
    background:#fff;
}

.logo{
    height:45px;
}

/* Search */
.search-box{
    display:flex;
    width:45%;
}

.search-box input{
    flex:1;
    padding:8px;
    border:1px solid #ebebeb;
}

.search-box button{
    background:#c4161c;
    color:white;
    border:none;
    padding:8px 18px;
}

/* Icons */
.icons i{
    font-size:20px;
    margin-left:18px;
    cursor:pointer;
    color:black;
}

/* Menu */
.menu{
    display:flex;
    justify-content:center;
    gap:18px;
    padding:10px 0;
    list-style:none;
}

.menu li{
    cursor:pointer;
}

.menu .active,
.menu li:hover{
    color:#c4161c;
}

.hero {
    position: relative;
    height: 450px;
    background: url("../assets/mercedes-lip.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.filters select {
    padding: 10px;
    width: 180px;
}

.btn-red {
    background: #c4161c;
    color: white;
    border: none;
    padding: 10px 25px;
}

.shipping {
    font-size: 18px;
    margin-top: 10px;
}

.section-title {
    text-align: center;
    padding: 40px 0;
    font-size: 24px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1050px;
    margin: auto;
    text-align: center;
    justify-items: center;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category:nth-child(5){
    grid-column: 2 / 3;
}

.category:nth-child(6){
    grid-column: 3 / 4;
}

.category:nth-child(7){
    grid-column: 4 / 5;
}


.category:hover .circle {
    transform: scale(1.06);
}

.category span{
    margin-top: 12px;
    font-size:18px;
    font-weight:bold;
}







.brands-section {
    text-align: center;
    padding: 25px 20px;
}

.brands-section h2 {
    font-size: 22px;
    margin-bottom: 40px;
    color: #2c2c2c;
}

.brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1050px;
    margin: auto;
    align-items: start;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    transition: 0.3s;
}

.brand:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.brand p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    color: #333;
}

.brand:nth-child(5) {
    grid-column: 2 / 3;
}
.brand:nth-child(6) {
    grid-column: 3 / 4;
}
.brand:nth-child(7) {
    grid-column: 4 / 5;
}

@media (max-width: 768px) {
    .brands {
        grid-template-columns: repeat(2, 1fr);
    }

    .brand:nth-child(5),
    .brand:nth-child(6),
    .brand:nth-child(7) {
        grid-column: auto;
    }
}



.products-section {
    padding: 50px 20px;
    text-align: center;
}

.products-section h2 {
    font-size: 24px;
    margin-bottom: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h4 {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

.product-card p {
    font-size: 13px;
    color: #666;
}

.price {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-cart {
    background: #6b7280;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
}

.fav {
    font-size: 18px;
    cursor: pointer;
}

.more-btn {
    margin-top: 40px;
    padding: 10px 25px;
    background: #6b7280;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}



